<% provide(:title, "Home") %>
<h1>Hazard Map Application</h1>
<p>
  This is the home page for the 
  <a href="https://hazardmap.mybluemix.net/">SBS on answering call for code 2018</a>
  application.
</p>